.home{
  padding: 1rem;
  display:flex;
  flex-direction: column;
}
.projects{
  margin-top:1rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gold;
  gap:1rem;
}
.projects>h3{
  padding-top:.8rem;
  font-weight:normal;
  font-size: 1rem;
}
.projectWrapper{
  display:flex;
  flex-direction: column;
  gap: .4rem;
}
.myProjectTitle{
  font-weight: normal;
  font-size: 1.2rem;
}
.techWrapper{
  display:flex;
  flex-direction: row;
  gap: .4rem;
}
.tech{
  border: 1px solid white;
  padding: .2rem;
  border-radius: 5px;
}
.title{
  display:flex;
  align-items: flex-start;
  flex-direction: row;
  gap: .2rem;
}
.titleLink{
  font-size: 1rem;
  color:gold;
  cursor: pointer;
}
.titleLink:hover{
  font-size: 1.05rem;
}