.navWrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:auto;
}
.navUl{
    display:flex;
    flex-direction: column;
    padding: 1rem 1.4rem;
    background-color: #a177e4;
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    transition: all .2s;

}
.navUlOff{
    height: 0px;
    overflow: hidden;
    transition: all .2s;
}
.menuButton{
    cursor: pointer;
    position: absolute;
    top: 1.6rem;
    right:1.2rem;
    display:flex;
    flex-direction: column;
    gap: .3rem;
    margin-right:.2rem;
}
.menuLine{
    border-bottom: 1px solid white;
    width: 1rem;
    transition: all .3s;
}
.menuClose1{
    border-bottom: 1px solid white;
    width: 1rem;
    transform: translateY(.3rem) rotate(45deg);
    transition: all .3s;
}
.menuClose2{
    border-bottom: 1px solid white;
    width: 1rem;
    transform: rotate(-45deg);
    transition: all .3s;
}
.menuClose3{
    border-bottom: 1px solid none;
    width: 1rem;
    transform: translateY(-.3rem) rotate(45deg);
    transition: all .3s;
}
.linkItem{
    cursor: pointer;
    transition: box-shadow .3s;
}
.linkItem:hover{
    box-shadow: 0 1px gold;
}

@media (min-width:700px){
    .menuButton{
        display:none;
    }
    .navUl, .navUlOff{
        display:flex;
        flex-direction: column;
        padding: 1rem 1.4rem;
        background-color: #a177e4;
        font-size: 1.5rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 10px;
        transition: all .2s;
    
    }
    .navUl, .navUlOff{
        flex-direction: row;
        height:auto;
        display:flex;
        gap: 1rem;
        padding-right: 2rem;
    }
}