.wrapper{
    display:flex;
    flex-direction: column;
    min-width:250px;
    min-height:250px;
    border-radius: 15px;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    background:url('../public/images/aiChatpic.png');
    background-size:cover;
    background-repeat: no-repeat;
}

.wrapper2{
    position: absolute;
    border-radius: 15px;
    width:250px;
    height:250px;
    z-index: 2;
}
.wrapper2Hover{
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    border-radius: 15px;
    width:250px;
    height:250px;
    z-index: 2;
}
.wrapper:hover{
    background: url('../public/images/aiChat.gif');
    background-size:cover;
    background-repeat: no-repeat;  
}

.btn{
    z-index: 3;
    border:1px solid white;
    border-radius: 5px;
    padding: .3rem;
    color:#0a0119;
    font-weight:bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    color:white;
    cursor: pointer;
    opacity: 0;
    margin-top:-1rem;
}
.btn:hover{
    background-color:white;
    color:black;
}